<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false"
        clientResourceRelativePath="">
  <assemblies>
    <add assembly="EPiServer.Marketing.Testing.Web" />
  </assemblies>

  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.Marketing.Testing" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>

  <dojo>
    <paths>
      <add name="marketing-testing" path="ClientResources" />
    </paths>
  </dojo>

  <clientResources>
    <add name="ABTestingConfig" path="ClientResources/Config/dist/abtestingconfig.bundle.css" resourceType="Style" />
    <add name="ABTestingConfig" path="ClientResources/Config/dist/abtestingconfig.bundle.js" resourceType="Script" />
  </clientResources>

  <clientModule initializer="marketing-testing/InitializeModule">
    <moduleDependencies>
      <!-- Run the initializer after CMS has been initialized -->
      <add dependency="CMS" type="Require RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>