<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="">
  <assemblies>
    <add assembly="EPiServer.Marketing.KPI.Commerce" />
  </assemblies>

  <clientResources>
    <add name="kpicommerce" path="clientResources/dist/kpicommerce.bundle.css" resourceType="Style" />
    <add name="kpicommerce" path="clientResources/dist/kpicommerce.bundle.js" resourceType="Script" />
  </clientResources>
</module>